<!-- ===================================================================== -->
<!-- status-network: Es un obs que esta a la escucha de los cambios de red -->
<!-- ===================================================================== -->
<div class="custom-toolbar" [class.green]="hasViewStatus.high" [class.orange]="hasViewStatus.medium"
    [class.red]="hasViewStatus.low">
    <div>
        <span *ngIf="hasViewStatus.high">
            {{hasViewStatus.customNavigationParmas?.stableNetwork || 'Conexión a red estable'}}.
        </span>
        <span *ngIf="hasViewStatus.medium">
            {{hasViewStatus.customNavigationParmas?.lowNetwork || 'Al parecer su conexión a red es baja. Algunas acciones tardaran más de lo habitual'}}.
        </span>
        <span *ngIf="hasViewStatus.low">
            {{hasViewStatus.customNavigationParmas?.notNetwork || 'Al parecer su conexión a red no está establecida. Algunas funciones estarán deshabilitadas'}}.
        </span>
    </div>
    <button (click)="hideAlert()">
        &#10006;
    </button>
</div>
