.custom-toolbar {
    height         : 30px !important;
    background     : transparent;
    color          : white;
    font-size      : 0.8rem;
    position       : fixed;
    bottom         : -100vh;
    left           : 0;
    transition     : .5s;
    z-index        : 999999;
    width          : 100vw;
    padding        : .3rem 1rem;
    display        : flex;
    box-sizing     : border-box;
    justify-content: space-between;
    align-items    : center;

    button {
        color     : white;
        background: none;
        border    : none;
        cursor    : pointer;
    }

    &.green {
        background: green;
    }

    &.orange {
        background: orange;
    }

    &.red {
        background: red;
    }

    &.green,
    &.orange,
    &.red {
        bottom: 0;
    }
}
